.mtk10 {
    color: yellow;
    background-image: linear-gradient(45deg, #ff61d2, #fe908f);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
}

.mtk5 {
    color: #50fa7b;
    background-image: linear-gradient(45deg, #11998f, #38ef7d);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
}

.monaco-editor .detected-link, .monaco-editor .detected-link-active {
    text-decoration: none;
    text-underline-position: under;
    border-bottom: 4px dashed #efdf62;
}

.codicon-accounts-view-bar-icon:before {
    content: '';
    background-color: darkslateblue;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* Edit the Image Path in the url() below */
    background-image: url(/C:/Users/AYUSHMAN/Documents/GitHub/custom-vscode-theme/avatar.png); 
    background-size: 100%;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.active.tab-border-top>.tab-border-top-container, .monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.selected.tab-border-top>.tab-border-top-container {
    z-index: 6;
    top: 0;
    height: 5px;
    background-color: var(--tab-border-top-color);
    background-image: linear-gradient(45deg, #11998f, #d13abd, #efbd8a, #11998f);
    background-size: 200% auto;
    animation: borderTopActive 4s linear infinite;
}

@keyframes borderTopActive {
    to {
        background-position: 200%;
    }
}